* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(98deg, #F0F0F0, rgba(62, 121, 124, 1));
}


/* body>div {
    margin: 5% auto 0;
} */

.tabs {
    position: absolute;
    margin: auto;
    display: flex;
    position: relative;
    max-width: 800px;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: rgba(62, 121, 124, 1);
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: transparent;
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    font-weight: 500;
}

.tab-item:hover {
    opacity: 10;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: (rgba(194, 53, 20, 10));
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.head {
    background: whitesmoke;
    height: 100px;
    padding: 20 20px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

li {
    margin: 20px;
}

.ttadmin {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #FFFFFF;
    padding: .35em;
    opacity: 0.7;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #FFFFFF;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #FFFFFF;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
* aria-label has no advantage, it won't be read inside a table
content: attr(aria-label);
*/
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

.txcrud {
    color: #04364A;
    font-weight: 700;
}

.a {
    color: #04364A;
    padding-left: 20px;
    font-size: 20px;
}

.crud {
    opacity: 1;
    display: flex;
    padding: 30px 0;
    text-transform: uppercase;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}